@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --spacing: 8px;

  --font-heading: "Montserrat", "Lato", Georgia, serif;
  --font-body: "Inter", system-ui, -apple-system, sans-serif;
  --font-code: "JetBrains Mono", Consolas, monospace;

  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-serif: "Montserrat", "Lato", Georgia, serif;
  --font-mono: "JetBrains Mono", Consolas, monospace;

  --color-primary: #dcdcdc;
  --color-secondary: #666666;
  --color-accent: #56edce;

  --color-text-primary: #000000;
  --color-text-secondary: #0c19a2;
  --color-text-muted: #4e4e4e;
}

@layer theme {

  :root,
  :host {
    @variant dark {
      --color-primary: #232323;
      --color-secondary: #999999;
      --color-accent: #50005d;

      --color-text-primary: #ffffff;
      --color-text-secondary: #e9dcff;
      --color-text-muted: #4e4e4e;
    }
  }
}

body {
  @apply font-body;
}